

form{

    background-color: yellow;

}

 
#myid {

    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cls1{

        border-color: red;
        border-style: dotted;


}